#row{
    max-width: 2400px;
}

#insta{
    padding-right: 30px;
}

#twitter{
    padding-left: 30px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
  }
  
.carousel-item img {
    width: 1000px;
    height: 400px;
    object-fit: cover;
}

#cards{
    width: 70%;
}

#img-card{
    max-width: 450px;
    max-height: 200px;
}

#img-item{
    max-width: 350px;
    max-height: 200px;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-content {
    flex-grow: 1;
  }